<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">ProAudio Player on %h</name>
  <service>
    <type>_linkplay._tcp</type>
    <port>8080</port>
    <txt-record>path=/httpapi.asp</txt-record>
    <txt-record>model=ProAudio Player</txt-record>
    <txt-record>version=dev</txt-record>
  </service>
</service-group>
